<div class="main-nav__global-options-search">

  <div class="form-wrapper">
    <input autocomplete="off" name="search" tgtextinput="" type="search" ng-reflect-name="search"
           placeholder="Search all">
    <button class="main-nav__search-form-submit-button o-button2--primary o-button2 o-button2--icon-only" tgbutton2=""
            tgstyle="primary" type="submit" ng-reflect-klass="main-nav__search-form-submit-b"
            ng-reflect-tg-style="primary" ng-reflect-type="submit">

      <svg aria-labelledby="e9ad9045-c09a-16f3-9372-95a74c0faabf" role="img" width="24" height="24"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title id="e9ad9045-c09a-16f3-9372-95a74c0faabf">
        search</title>
        <path
          d="M9.5 18a8.461 8.461 0 0 0 4.057-1.029l5.736 5.736a2.623 2.623 0 0 0 1.867.828 2.38 2.38 0 0 0 1.675-.688 2.46 2.46 0 0 0-.128-3.554l-5.736-5.736A8.5 8.5 0 1 0 9.5 18zm11.793 2.707c.135.117.221.28.242.458a.38.38 0 0 1-.114.267c-.183.182-.443.132-.714-.14l-5.5-5.5c.205-.186.4-.381.586-.586l5.5 5.501zM9.5 3A6.5 6.5 0 1 1 3 9.5 6.507 6.507 0 0 1 9.5 3z"></path>
      </svg>
    </button>
  </div>
  <!--<h1>-->
  <!--{{title}}-->
  <!--</h1>-->

  <div class="main-nav__search-suggestions">
    <ul>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
    </ul>
    <a href="#">Browse all categories</a>
  </div>

  <p>Squid tumblr gluten-free, small batch kogi migas snackwave chartreuse DIY ugh schlitz actually meggings af keffiyeh. Authentic edison bulb live-edge, brooklyn tacos thundercats deep v ramps pabst pour-over vexillologist DIY. Subway tile copper mug venmo, portland echo park gluten-free heirloom godard leggings hashtag schlitz hoodie gastropub chicharrones. Pok pok mixtape beard shoreditch pitchfork aesthetic offal humblebrag neutra. Normcore unicorn subway tile sartorial single-origin coffee master cleanse photo booth literally. Bespoke af edison bulb lomo readymade prism letterpress.</p>
  <p>Tilde chillwave normcore, swag humblebrag gastropub quinoa schlitz jianbing hella vegan. IPhone synth shaman next level bicycle rights yuccie. Hella chicharrones plaid etsy. Shaman mustache freegan readymade craft beer ugh cornhole scenester authentic knausgaard tofu messenger bag.</p>
  <p>Narwhal helvetica locavore chillwave coloring book art party direct trade edison bulb occupy. Pickled yuccie leggings skateboard, wolf bespoke four loko woke chartreuse YOLO fingerstache lumbersexual biodiesel. Sriracha woke occupy, tumblr fixie swag letterpress yuccie lo-fi. Hot chicken biodiesel before they sold out palo santo tousled.</p>
  <p>Distillery seitan asymmetrical hella DIY lyft man bun tbh ethical affogato brooklyn synth vexillologist vinyl church-key. Hell of brooklyn drinking vinegar, health goth hexagon woke mlkshk deep v jean shorts chambray kombucha etsy. Microdosing pabst retro occupy street art vice kitsch, stumptown wayfarers shoreditch. Church-key lomo crucifix palo santo vaporware brunch.</p>
</div>
