<div class="main-nav__global-options-search">

  <input autocomplete="off" name="search" tgtextinput="" type="search" ng-reflect-name="search"
         placeholder="Search all">
  <!--<h1>-->
  <!--{{title}}-->
  <!--</h1>-->

  <div class="main-nav__search-suggestions">
    <ul>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
      <li><a href="#">link one</a></li>
    </ul>
    <a href="#">Browse all categories</a>
  </div>
</div>
