/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: arial, 'sans-serif';
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.main-nav__global-options-search {
  padding-top: 40px;
}
